.ChatSide
  .ChatSide__user
    .ChatSide__userName= current_user.name
    .ChatSide__userNewGroup
      =fa_icon "edit"
    =link_to edit_user_path(current_user),class: "ChatSide__userEditUser" do
      =fa_icon "cog"
  .ChatSide__groupList
    =render partial: "group", collection: @groups

.ChatMain
  .ChatMain__header
    .ChatMain__headerName testgroup
    .ChatMain__headerEditButton Edit
    .ChatMain__headerMembers Members: test01, test02, test03, test04, test05
  .ChatMain__body
    =render partial: "message", collection: @messages

  .ChatMain__footer
    .ChatMain__footerTypeArea
    .ChatMain__footerImageTag
      =fa_icon "image"
    .ChatMain__footerSendButton SEND
