.ChatMain
  .ChatMain__header
    .ChatMain__headerName testgroup
    .ChatMain__headerEditButton Edit
    .ChatMain__headerMembers Members: test01, test02, test03, test04, test05
  .ChatMain__body
    =render partial: "shared/message", collection: @messages

  =form_for @message, url: group_messages_path, html: {class: "ChatMain__footer"} do |f|
    =f.text_field :text, class: "ChatMain__footerTypeArea"
    .ChatMain__footerImageTag
      =fa_icon "image"
    =f.submit :SEND ,class: "ChatMain__footerSendButton", style: "cursor:pointer"
