.ChatSide__group{
  height: 100px;
  width: 100%;
  color: white;
  text-decoration: none;
  &Name{
    padding: 20px 0 0 15px;
  }
  &FirstMessage{
    color: $gray;
    padding: 10px 0 0 35px;
    font-size: 15px;
  }
}
