.Notification{
  float: left;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100vw;
  &__notice{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: $blue;
  }
  &__alert{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: $red;
  }
}
